<!-- Header-->
<main>
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">A Care for Critters</h1>
                    <p class="lead fw-normal text-white-50 mb-4">At A Care for Critters, we are dedicated to advocating for the well-being and protection of all creatures, big and small. Our mission is rooted in compassion, driven by the belief that every living being deserves to be treated with kindness and respect.</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" routerLink="/donate">Get Started</a>
                        <a class="btn btn-outline-light btn-lg px-4" routerLink="/about">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSh3sN0dZSpK47LG1cGe9jXIa8al8j9zkwqwtI9rog2iLJ2pn8c50MtEOwa22LCuB2sag&usqp=CAU" alt="..." /></div>
        </div>
    </div>
</header>
<!-- Features section-->
<section class="py-5" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">Advocacy for Animal Rights.</h2></div>
            <div class="col-lg-8">
                <div class="row gx-5 row-cols-1 row-cols-md-2">
                    <div class="col mb-5 h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                        <h2 class="h5">Right to Life</h2>
                        <p class="mb-0">All animals have the fundamental right to live free from unnecessary harm and exploitation. This includes protection from cruelty, abuse, and killing for reasons other than self-defense or essential sustenance.</p>
                    </div>
                    <div class="col mb-5 h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                        <h2 class="h5">Right to Freedom from Sufferinge</h2>
                        <p class="mb-0">Animals have the right to be free from pain, distress, and suffering. This encompasses the prevention of physical and psychological harm, such as confinement in cramped spaces, neglect, or deliberate infliction of pain for human gain.</p>
                    </div>
                    <div class="col mb-5 mb-md-0 h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                        <h2 class="h5">Right to Freedom of Movement</h2>
                        <p class="mb-0">Animals should have the right to move freely in their natural environments and to engage in natural behaviors essential to their well-being. This means they should not be confined to cages, pens, or other enclosures that restrict their movement and </p>
                    </div>
                    <div class="col h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                        <h2 class="h5">Right to Respect and Consideration</h2>
                        <p class="mb-0">Animals deserve respect as sentient beings with their own interests and needs. They should not be treated as mere objects or commodities for human use, but rather as individuals with inherent value and the right to be treated with dignity and compassion.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial section-->
<div class="py-5 bg-light">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-10 col-xl-7">
                <div class="text-center">
                    <div class="fs-4 mb-4 fst-italic">"Respect for animals is not just a duty, but it is also the reflection of our humanity"</div>
                    <div class="d-flex align-items-center justify-content-center">
                        <img class="rounded-circle me-3" src= "https://hau.instructure.com/images/thumbnails/7914926/gOVJaA7mXSdTkpBYtw7BjACxIyFuectPoRk1dkOY" alt="..." />
                        <div class="fw-bold">
                            Patrick Perez
                            <span class="fw-bold text-primary mx-1">/</span>
                            Web Developer
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog preview section-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="text-center">
                    <h2 class="fw-bolder">"Compassion for all creatures is the true mark of humanity."</h2>
                    <p class="lead fw-normal text-muted mb-5">Dive into a world where compassion meets action, where each past is a testament to our unwavering commitment to protecting and promoting the welfare of all creatures.</p>
                </div>
            </div>
        </div>
        <div class="row gx-5">
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="https://iucn.org/sites/default/files/2022-12/american_grey_squirrel_sciurus_carolinensis_sandro_bertolino_1.jpg" alt="..." />
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">Mammals</div>
                        <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Blog post title</h5></a>
                        <p class="card-text mb-0">Mammals are warm-blooded vertebrates characterized by their possession of mammary glands, which produce milk to nourish their young. They typically have body hair or fur, although some species, like whales and dolphins, are mostly hairless.</p>
                    </div>
                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                        <div class="d-flex align-items-end justify-content-between">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="https://lh3.ggpht.com/LR-z1QOB5HW2OEBmRSBAI_VsSIyQ7nJ2H1pj69o2PimiN3n72dhIqh7OcvAZ-nw7CNHDnaMw5ZWeK_F81Bb1=s600" alt="..." />
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">Reptiles</div>
                        <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Another blog post title</h5></a>
                        <p class="card-text mb-0">Reptiles are cold-blooded vertebrates characterized by their scaly skin, which helps prevent water loss and provides protection. They lay eggs, though some species give birth to live young. Reptiles are found in a variety of habitats, from deserts to rainforests, and they exhibit a range of adaptations suited to their environments.</p>
                    </div>
                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                        <div class="d-flex align-items-end justify-content-between">
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2QBfTy3rjgW49O9ZgXJCmTsXUi3yC043XTE_PCQsVHA&s" alt="..." />
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">Birds</div>
                        <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">The last blog post title is a little bit longer than the others</h5></a>
                        <p class="card-text mb-0">Birds are warm-blooded vertebrates characterized by their feathers, beaks, and lightweight skeletons, which enable flight. Birds lay hard-shelled eggs and are known for their diverse array of songs, calls, and behaviors.</p>
                    </div>
                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                        <div class="d-flex align-items-end justify-content-between">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Call to action-->

    </div>
</section>
</main>
<!-- Footer-->
<footer class="bg-dark py-4 mt-auto">
<div class="container px-5">
    <div class="row align-items-center justify-content-between flex-column flex-sm-row">
        <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; A Care for Critters 2024</div></div>
        <div class="col-auto">
            <a class="link-light small" routerLink="/about">Privacy</a>
            <span class="text-white mx-1">&middot;</span>
            <a class="link-light small" routerLink="/faq">FAQs</a>
            <span class="text-white mx-1">&middot;</span>
            <a class="link-light small" routerLink="/contact">Contact</a>
        </div>
    </div>
</div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>